<div class="home-background">
  <%= image_tag("plants_1.jpg", alt: "Background Image", class: "background-image") %>
  <div class="main-container">
    <div class="empty-container">
    </div>
    <h1>My Forums Page</h1>
    <% @forum.each do |forum| %>
      <div class="d-flex justify-content-between align-items-center mb-3">
        <p><%= link_to forum.name, forum_path(forum), class: "btn btn-primary btn-sm mr-2" %></p>
      </div>
    <% end %>
  </div>
</div>
