<h1>Garden Recommendations Show</h1>

<%# <% if @recommendations.present? %>
  <%# <ul>
    <% @recommendations.each do |recommendation| %>
      <%# <li><%= recommendation.name %></li>
    <%# <% end %>
  <%# </ul>
<% else %>
  <%# <p>No recommendations available.</p>
<% end %>

<%= @result %>
