<h1>Resources#show</h1>
<div class="home-background">
  <%= image_tag("plants_1.jpg", alt: "Background Image", class: "background-image") %>
<p>Find me in app/views/resources/show.html.erb</p>
</div>
