<h1>Garden Details</h1>

<!-- Display garden details -->
<% if @garden %>
  <p>Garden Size: <%= @garden.size %> m2</p>
  <p>Sunlight Percentage: <%= @garden.sunlight %> %</p>

  <!-- Display recommended plants -->
  <h2>Recommended Plants:</h2>
  <% @valid_plants.each do |plant| %>
    <p><%= plant %></p>
  <% end %>

<% else %>
  <p>Garden Plants not found.</p>
<% end %>
