.card {
  margin: 2rem 8rem;
  border: 1px solid #90A955;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-width: 8px;
  padding: 1.5rem;
  position: relative;
}

.garden-card {
  background: rgba(243, 239, 224, 0.8);
  padding: 1rem;
}

.garden-card-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #4A5D67;
  margin-bottom: 1rem;
}

.garden-card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.garden-title-and-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.btns-primary, .btns-secondary {
  color: white;
  margin: 0.5rem auto;
  display: block;
  width: max-content;
}

.btns-primary {
  background-color: #90A955;
  border-color: #90A955;
}


.btns-secondary {
  background-color: #A5D6A7;
  border-color: #A5D6A7;
}

.garden-card-text {
  color: #4A5D67;
  padding-left: 50px;
}

.sun-icon {
  width: 10rem;
  height: 10rem;
}

.sun-icon-container {
  display: flex;
  align-items: center;
  padding-right: 50px;
}

.garden-details {
  flex: 1;
  padding-right: 2rem;
}

.padding-btm {
  padding-bottom: 50px;
}
