.navbar-lewagon {
  justify-content: space-between;
  background: #F3EFE0;
  height: 120px;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1030;
  opacity: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 326px;
  height: 81px;
}

.navbar-lewagon .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-lewagon .navbar-nav .nav-link {
  font-size: 34px;
  font-family: 'Outfit Extra Light', sans-serif;
  color: #132A13;
}

.navbar-lewagon .navbar-nav .active > .nav-link {
  text-decoration: underline;
}

#gradient-bar {
  position: sticky;
  top: 120px; /* adjust to match the height of your navbar */
  height: 15px; /* adjust to the desired height of your gradient bar */
  width: 100%;
  background: linear-gradient(to bottom, rgba(144, 169, 85, 0.75), rgba(243, 239, 224, 0.5));
  z-index: 1020; /* lower than your navbar */
}

.middle-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 55%;
}

@media (max-width: 1188px) {
  .navbar-lewagon .middle-image {
    display: none;
  }
}
