.navbar-lewagon {
  justify-content: space-between;
  background: #F3EFE0;
  height: 120px;
  width: auto;
  position: sticky;
  top: 0;
  z-index: 1030;
  opacity: 1;

  .navbar-line {
    height: 8px;
    background: linear-gradient(90deg, #90A955, #90A955);
    border-radius: 4px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 326px;
  height: 81px;
}

.navbar-lewagon .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.navbar-lewagon .navbar-nav .nav-link {
  font-size: 34px;
  font-family: 'Outfit Extra Light', sans-serif;
  color: #132A13;
}

.navbar-lewagon .navbar-nav .active > .nav-link {
  text-decoration: underline;
}

#gradient-bar {
  position: fixed;
  top: 120px; /* adjust to match the height of your navbar */
  height: 50px; /* adjust to the desired height of your gradient bar */
  width: 100%;
  background: linear-gradient(to bottom, #F3EFE0, rgba(255,255,255,0));
  z-index: 1020; /* lower than your navbar */
}
